.primary-button{
    cursor: pointer;
    text-decoration: none;
    color: white;
    background-color: rgb(0, 163, 100);
    border: 1px solid rgb(0, 163, 100);
    padding: 10px 24px;
    font-size: 16px;
    transition: background-color .3s;
    margin: 20px;
    font-family: Arial, Helvetica, sans-serif;
    &:hover{
    background-color: rgb(0, 124, 77);
    }
}